<div id="main-wrapper">
  <div class="content-wrapper">
    <div class="about-me-container clearfix">
      <div class="title-container">
        <h1>About me</h1>
        <div class="underline-object"></div>
      </div>
      <div class="about-me-text-container">
        <p>Hey, I’m Ollie! <br>
           I’m a web developer and <br>
           web designer.
        </p>
        <p>
          I’m still a student <br>
          but have grown a passion for <br>
          web development and web  <br>
          design. I use HTML5, Css3  <br>
          JavaScript and Ruby on Rails for <br>
          my development process. For  <br>
          design I use Adobe Illustrator and <br>
          Adobe Photoshop.
        </p>
        <p>
          Through this blog I want to show <br>
          people what I can do and also  <br>
          share what I learn with the  <br>
          community.
        </p>
        <p>
          I use <a href="http://codepen.io/Ollzane/pens/public/" target="_blank">Codepen</a> often for playing <br>
          around with front-end related stuff.
        </p>
      </div>
    </div>
    <div class="articles-container clearfix">
      <div class="title-container">
        <h1>Stuff that I've written</h1>
        <div class="underline-object"></div>
      </div>
      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <hr class="post-rule">
      <% end %>
    </div>
    <div class="projects-container clearfix">
      <div class="title-container">
        <h1>My recent projects</h1>
        <div class="underline-object"></div>
      </div>
    </div>
  </div>
</div>
