<div id="contacts-container">
  <div id="contacts-wrapper">
    <h1 id="page-title">You've contacted me!</h1>
    <h2>Thank you for the message :3</h2>
    <p>I'll make sure to get back to you soon!</p>
  </div>
</div>
