#contacts-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #contacts-wrapper {
    width: 1200px;
    height: 100%;
    text-align: center;
    #page-title {
      color: $text-color;
      font-size: 4em;
      font-family: 'lobster';
      margin-bottom: 1.4em;
    }
    h2 {
      margin: 3em 0;
      color: $text-color;
      font-size: 2.5em;
    }
    p {
      margin: 3em 0;
      font-size: 2em;
      color: $text-color;
    }
    .label {
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
      color: $text-color;
      font-size: 1.2em;
    }
    input[type=text] {
      width: 100%;
      height: 2.5em;
      border-radius: 5px;
      border: 2px #A3BAC9 solid;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      margin-top: 5px;
    }
    input[type=email] {
      width: 100%;
      height: 2.5em;
      border-radius: 5px;
      border: 2px #A3BAC9 solid;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      margin-top: 5px;
    }
    textarea {
      width: 100%;
      height: 300px;
      border-radius: 5px;
      border: 2px #A3BAC9 solid;
      margin-top: 5px;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      resize: vertical;
      margin-bottom: 6em;
    }
    input[type=submit] {
      width: 230px;
      height: 80px;
      font-size: 1.6em;
      font-weight: bold;
      font-family: 'raleway', sans-serif;
      color: $white;
      border-radius: 5px;
      padding: 20px;
      border: 4px solid $dark-blue;
      background: $blue;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 20px 20px -10px rgba(black, 0.6);
      transform: scale(1);
      margin-bottom: 1em;
      &:hover {
        background: lighten($blue, 10);
        border-color: lighten($dark-blue, 10);
        box-shadow: 0 50px 30px -25px rgba(black, 0.6);
        transform: scale(1.1);
      }
    }
    .hidden {
      display: none;
    }
  }
}
#blog-main-footer {
  bottom: -42em;
}
