.new-post-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .new-post-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    h1 {
      color: white;
      padding: 0.6em;
      font-size: 4em;
      margin-bottom: 1em;
      background: $more;
    }
    .label {
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
      color: $text-color;
      font-size: 1.2em;
      width: 60%;
      margin-left: 20%;
    }
    input[type=text] {
      width: 60%;
      height: 2.5em;
      border-radius: 5px;
      border: 2px lighten($more, 20) solid;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      margin-top: 5px;
    }
    textarea {
      width: 60%;
      height: 300px;
      border-radius: 5px;
      border: 2px lighten($more, 20) solid;
      margin-top: 5px;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      resize: vertical;
    }
    .new{
      width: 100%;
      background: $more;
      height: 12em;
      position: relative;
      margin-top: 2em;
      input[type=submit] {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: none;
        border: 4px solid white;
        background: $more;
        transition: all 0.3s ease-in-out;
        padding: 1em 1.5em;
        border-radius: 5px;
        position: absolute;
        left: 45.5%;
        top: 28%;
        cursor: pointer;
        &:hover{
          color: $more;
          background: white;
        }
      }
    }
  }
}
