.new-project-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .new-project-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    h1 {
      color: white;
      padding: 0.6em;
      font-size: 4em;
      margin-bottom: 1.4em;
      background: $more;
    }
    .label {
      text-align: left;
      text-transform: uppercase;
      font-weight: bold;
      color: $text-color;
      font-size: 1.2em;
      width: 60%;
      margin-left: 20%;
    }
    input[type=text] {
      width: 60%;
      height: 2.5em;
      border-radius: 5px;
      border: 2px #A3BAC9 solid;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      margin-top: 5px;
    }
    textarea {
      width: 60%;
      height: 300px;
      border-radius: 5px;
      border: 2px #A3BAC9 solid;
      margin-top: 5px;
      padding: 10px;
      font-family: 'raleway', sans-serif;
      font-size: 1.2em;
      color: $text-color;
      resize: vertical;
    }
    .new{
      width: 100%;
      background: $more;
      height: 12em;
      position: relative;
      margin-top: 2em;
      input[type=submit] {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: none;
        border: 4px solid white;
        background: $more;
        transition: all 0.3s ease-in-out;
        padding: 1em 1.5em;
        border-radius: 5px;
        position: absolute;
        left: 45.5%;
        top: 28%;
        cursor: pointer;
        &:hover{
          color: $more;
          background: white;
        }
      }
    }
  }
}











#project-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .project-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-title-container {
      text-align: center;
      width: 100%;
      background: $more;
      height: 11em;
      .project-title {
        color: white;
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 10px;
        .date {
          font-size: 0.3em;
          color: darken($gray, 15);
          margin-bottom: 3px;
        }
      }
      a {
        text-decoration: none;
        margin: 0;
        font-size: 1.1em;
        color: darken($gray, 15);
        transition: all 0.2s ease-in-out;
        padding: 5px 15px;
        border-radius: 5px;
        &:hover{
          color: $more;
          background: darken($gray, 15);
        }
      }
      .edit {
        display: inline-block;
      }
      .delete {
        display: inline-block;
      }
    }
    .project-content {
      color: $text-color;
      border-radius: 8px;
      font-size: 1.4em;
      width: 60%;
      margin-bottom: 2em;
    }
    .project-link {
      width: 100%;
      background: $more;
      height: 12.5em;
      position: relative;
      .project-button {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: none;
        border: 4px solid white;
        transition: all 0.3s ease-in-out;
        padding: 1em 1.5em;
        border-radius: 5px;
        position: absolute;
        left: 45.5%;
        top: 28%;
        &:hover{
          color: $more;
          background: white;
        }
      }
    }
  }
}
