@import 'normalize';

$blue       : #1c81c4;
$dark-blue  : #1669a5;
$white      : #f3f7f8;
$underline  : #71d8f0;
$highlight  : #3498db;
$text-color : #345369;
$logo       : #FF0055;
$post1      : #ff7473;
$post2      : #ffc952;
$post3      : #47b8e0;
$post4      : #34314c;
$project1   : #FFBC42;
$project2   : #D81159;
$project3   : #8F2D56;
$project4   : #218380;
$gray       : #E8E8E8;
$more       : #2c3e50;

body {
    height: 100%;
    width: 100%;
    background: white;
}
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
#blog-main-header {
  width: 100%;
  height: 20em;
  background: white;
  margin: 0;
  position: relative;
  .eye-catch-text {
    position: absolute;
    left: 5%;
    h1 {
      font-family: 'Limelight', cursive;
      font-size: 3em;
    }
  }
  a {
    position: absolute;
    right: 5%;
    top: 36%;
    text-decoration: none;
    font-size: 1.5em;
    background-color: $logo;
    width: 3em;
    height: 3em;
    text-align: center;
    padding-top: 0.85em;
    color: white;
    font-weight: bold;
    border-radius: 50%;
  }
}
#logout {
  width: 100%;
  a {
    text-decoration: none;
    .logouth1 {
      width: 100%;
      height: 10em;
      background-color: $more;
      text-align: center;
      h1 {
        color: white;
        font-size: 4.5em;
        padding: 0;
        padding-top: 0.5em;
        margin: 0;
      }
    }
  }
}
#main-wrapper {
    width: 100%;
    height: 100%;
    background: $white;

    .content-wrapper {
        width: 100%;
        height: 100%;
        background: $white;
        color: $text-color;
        text-align: center;
        a {
          text-decoration: none;
          .post-more-container {
            width: 100%;
            height: 10em;
            background-color: $more;
            text-align: center;
            h1 {
              color: white;
              font-size: 4.5em;
              padding: 0;
              padding-top: 0.5em;
              margin: 0;
            }
          }
        }
        a {
          text-decoration: none;
          .project-more-container {
            width: 100%;
            height: 10em;
            background-color: $more;
            text-align: center;
            h1 {
              color: white;
              font-size: 4.5em;
              padding: 0;
              padding-top: 0.5em;
              margin: 0;
            }
          }
        }
        a {
          text-decoration: none;
          .contact-container {
            width: 100%;
            height: 10em;
            background-color: $post1;
            text-align: center;
            position: relative;
            h1::before{
              content: '';
              position: absolute;
              bottom: 20%;
              left: 35%;
              width: 30%;
              height: 0.15em;
              background: white;
              display: block;
              transform-origin: right top;
              transform: scale(0, 1);
              -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
              transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
            }
            &:hover h1::before{
                transform-origin: left top;
                transform: scale(1, 1);
              }
            h1 {
              color: white;
              font-family: 'Limelight', cursive;
              font-size: 4.5em;
              padding: 0;
              padding-top: 0.5em;
              margin: 0;
            }
          }
        }
        .articles-container{
            width: 100%;
            height: 100%;
            margin: auto;
            }
            .articles-wrapper {
              display: flex;
              background: #34495e;
              width: 100%;
              height: 100%;
              flex-wrap: wrap;
              margin: 0;
              padding: 0;
              a {
                width: 50%;
                height: 40em;
                padding: 0;
                position: relative;
                text-decoration: none;
                &:nth-child(1) {
                  background: $post1;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post1, 10);
                  }
                }
                &:nth-child(2) {
                  background: $post2;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post2, 10);
                  }
                }
                &:nth-child(3) {
                  background: $post3;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post3, 10);
                  }
                }
                &:nth-child(4) {
                  background: $post4;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post4, 10);
                  }
                }
                h1 {
                  font-size: 6em;
                  color: white;
                  margin-top: 2.3em;
                  transition: all 0.3s cubic-bezier(1,0,0,1);
                  position: relative;
                }
              }
            }
            .date {
              margin-top: -1em;
              color: $gray;
              font-size: 1.1em;
              padding: 0;
            }
        .projects-container{
            width: 100%;
            height: 100%;
            text-decoration: none;
            .title-container{
                h1{
                    font-size: 4em;
                    color: black;
                  }
            }
            .projects-wrapper {
              background: #005f6b;
              display: flex;
              background: #34495e;
              width: 100%;
              height: 100%;
              flex-wrap: wrap;
              margin: 0;
              padding: 0;
              a {
                width: 25%;
                height: 19em;
                padding: 0;
                position: relative;
                text-decoration: none;
                &:nth-child(1) {
                  background: $post1;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post1, 10);
                  }
                }
                &:nth-child(2) {
                  background: $post2;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post2, 10);
                  }
                }
                &:nth-child(3) {
                  background: $post3;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post3, 10);
                  }
                }
                &:nth-child(4) {
                  background: $post4;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background: lighten($post4, 10);
                  }
                }
                h1 {
                  font-size: 4em;
                  color: white;
                  margin-top: 1.6em;
                  transition: all 0.3s cubic-bezier(1,0,0,1);
                  position: relative;
                }
              }
              .date {
                    margin-top: -20px;
                    color: $gray;
                    font-size: 1.1em;
                }

            }

    }
  }
}
#blog-main-footer{
    background: $gray;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-container{
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .copyright{
            color: lighten(black, 10);;
            margin: 4em 0 0 0;
            font-weight: bold;
    }
  }
}
@media only screen and (max-width: 1200px){
    #main-wrapper{

        .content-wrapper{
            width: 100%;
            display: block;
            text-align: center;

            .about-me-container{
                width: 100%;
                height: 46em;
                display: block;
                float: none;

                .title-container{
                    margin-left: 0;

                    .underline-object{
                        display: none;
              }
            }
          }
        }

            .articles-container{
                width: 100%;
                height: 46em;
                display: block;
                float: none;

                .title-container{
                    margin-left: 0;

                    .underline-object{
                        display: none;
              }
            }
            h3 {
                font-size: 2em;
                margin-left: 30px;
                a {
                  font-family: 'raleway', sans-serif;;
                  text-decoration: none;
                  color: $text-color;
                  transition: all 0.2s ease-in-out;
                  &:hover {
                          color: #4F97C9;
                  }
                }
            }
            .date {
                  margin-top: -20px;
                  margin-left: 30px;
                  color: #B8C9D4;
                  font-size: 1.1em;
            }
            .post-rule{
              margin-left: 42.5%;
            }
          }

            .projects-container{
                width: 100%;
                height: 46em;
                display: block;
                float: none;

                .title-container{
                    margin-left: 0;

                    .underline-object{
                        display: none;
        }
      }
    }
  }
    #blog-main-footer{
        bottom: -1200px;
        .footer-container{
            width: 100%;
    }
  }
}
@media only screen and (max-width: 1000px){
    #main-wrapper{

        .content-wrapper{
            width: 100%;
            text-align: center;

            .about-me-container{
                .title-container{
                    margin-left: 50px;
                    h1{
                        font-size: 2.4em;
                      }
                .about-me-text-container{
                    p{
                        font-size: 1.6em;
                        margin-left: 50px;
                        padding: 0;
                      }
                    a{
                        color: $highlight;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                        padding: 0.1em 0.2em;
                        border-radius: 8px;

                        &:hover{
                            color: $white;
                            background: $highlight;
                          }
                        }
            }
            .articles-container{
                .title-container{
                    margin-left: 50px;
                    h1{
                        font-size: 2em;
                    }
                }
            }
            .projects-container{
                .title-container{
                    margin-left: 50px;
                    h1 {
                        font-size: 2em;
                    }
                }
            }
    }
  }
}
}
}


@import "new";
@import "post";
@import "edit";
@import "index";
@import "pygments";
@import "projects";
@import "contacts";
@import "signin";
